.container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

.stripeAnimation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image:
    repeating-linear-gradient(135deg, #000000 0% 49%, #00000000 50%, #000000 51% 100%),
    linear-gradient(#000000 0% 33%, #ffff88 66%, #000000 67% 100%);
  background-size: 100% 100%, 100% 300%;
  animation: shtstra 1.4s linear infinite, shtstrb 7s linear infinite;
  opacity: 0.15;
  will-change: background-position;
  transform: translateZ(0);
}

@keyframes shtstra {
  0% {
    background-position-y: 0, 100%;
  }
  50%, 100% {
    background-position-y: 0, 0%;
  }
}

@keyframes shtstrb {
  0%, 10% {
    background-position-x: 0px, 100%;
  }
  20%, 30% {
    background-position-x: 200px, 100%;
  }
  40%, 50% {
    background-position-x: 100px, 100%;
  }
  60%, 70% {
    background-position-x: 250px, 100%;
  }
  80%, 90% {
    background-position-x: 150px, 100%;
  }
}
